* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #ececec;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 30px;
}

header {
    padding: 10px 0;
    background-color: #ffffff;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Horizontally center the paragraphs */
    justify-content: center;
    /* Vertically center the paragraphs */
}

.date p {
    border: 1px solid #000000;
    padding: 3px 12px;
    text-align: center;
    border-radius: 8px;
}

.date i,
h3 i {
    margin-right: 10px;
}

h3 {
    margin: 10px;
}

@media (max-width: 425px) {
    header .container {
        display: flex;
        flex-direction: column;
    } 
    
    .container {
        padding: 0 10px;
    }

    h3 {
        margin: 10px 0;
    }

    .date {
        display: block;
    }
}